
.App-header {
  background-color: #6a0d1b;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.App__content * {
  box-sizing: border-box;
}

.App__content-title {
  font-size: 24px;
  text-transform: uppercase;
}
.App__content--left {
  width: 25%;
}
 
.App__content--right {
  width: 75%;
} 

.App__form {
  width: 100%;
}